<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-success">Сегодня</button>
        <button class="btn btn-sm btn-outline-secondary">Вчера</button>
        <button class="btn btn-sm btn-outline-secondary">Неделя</button>

        <button class="btn btn-sm btn-outline-secondary">Месяц</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>Дата
    </button>
</div>





<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Сегодня</button>
        <button class="btn btn-sm btn-outline-secondary">Вчера</button>
        <button class="btn btn-sm btn-outline-secondary">Неделя</button>

        <button class="btn btn-sm btn-outline-secondary">Месяц</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>Дата
    </button>
</div>

