

{% load static %}

<nav class="navbar bg-light flex-md-nowrap p-0">
    <img class="mb-1 mt-1 ml-1 mr-1" src="{% static 'images/logo-full.png' %}" alt="">
    {% if messages %}
        <span class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </span>
    {% endif %}
    {% if request.user.is_authenticated %}
        <a class = "btn btn-outline-info sidebar-right-align" href="">
            {{ request.user.profile.lastname }} {{ request.user.profile.firstname }}
        </a>
    {% else %}
        <a class = "btn btn-outline-info sidebar-right-align" href="{% url 'login' %}">
            ВОЙТИ В СИСТЕМУ
        </a>
    {% endif %}

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="btn btn-outline-secondary" href="{% url 'logout' %}">Выйти</a>
        </li>
    </ul>
</nav>

