.container {
   max-width: 1000px;
   margin: auto;
   height: 1075px;
   position: relative;
}

.logo {
   width: auto;
   max-width: 300px;
}

.pdf-header {
   width: 100%;
}
.pdf-header:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
.pdf-header .container-left {
   float: left;
   width: 68%;
}
.pdf-header .container-middle {
   float: left;
   width: 20%;
   font-size: 12px;
   border-right: 3px solid green;
   color: $blue_primary;
   padding-right: 8px;
}
.pdf-header .container-right {
   float: left;
   width: 9%;
}

.stamp {
   width: 200px;
   float: right;
   position: relative;
   right: 50px;
}

//table for pdf

table.pdf {
   width: 100%;
   border-collapse: collapse;
}
table.pdf {
   th,
   td {
      border: 1px solid black;
      padding-left: 2px;
      padding-right: 2px;
   }
}

thead {
   background-color: #1c87c9;
   color: #ffffff;
   white-space: nowrap;
}
th {
   text-align: center;
}

@page {
   size: A4; /* Change from the default size of A4 */
   margin: 5mm; /* Set margin on each page */
}

body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}

.analiz {
   text-align: center;
   margin-top: 5px;
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 3px;
}

.analiz-group {
   text-align: center;
   margin-top: 2px;
   font-size: 12px;
   font-weight: bold;
   margin-bottom: 2px;
}

.reference {
   font-weight: bold;
   background-color: lightgray !important;
}

.QR {
   width: 80px;
   margin-top: -6px;
}

@media print {
   .bottom-image {
      max-width: 400px;
      display: block;
      bottom: 0;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
   }
   .pdf-footer {
      font-size: 10px;
      display: block;
      bottom: 40px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
   }
}

@media screen {
   .bottom-image {
      display: none;
   }
   .pdf-footer {
      display: none;
   }
}
